.housecontent{
	padding:20px;
}
.house-title{
	font-style: 24px;
	padding-right: 20px;
}
.a-link{
	text-decoration: underline;
	color: 
}
.space{
	padding: 10px 0;
}
.house-photo{
	width: 200px;
	height: 100px;
    border: 0;
}
.house-des{
	padding-top: 10px;
	display: block;
}

.zchang-photo{
	width: 500px;
	height: 300px;
}
/*审核*/
.checkContent{
	padding: 20px 0;
}
.check-title{
	display: block;
	text-align: center;
	font-style: 20px;
	padding: 10px 0 40px 0;
}
.check-top{
	background-color: #f0f0f0;
	line-height:50px;
	padding-left: 20px;
}
.check-detail li{
	list-style: none;
	padding-left: 20px;
	line-height: 40px;
	border-bottom:1px solid #f0f0f0; 
}
.res-photo{
	width: 80px;
	height: 50px;
	display: block;
	border: 1px solid #f0f0f0;
}
.btn-center{
	text-align: center;
	margin: 0 auto;
	padding-top: 30px;
}
.btn-tip{
	display: block;
	padding-bottom: 10px;
}

.showRes-top,.benner-top{
	line-height: 50px;
	background: #f0f0f0;
	border: 1px solid #f0f0f0;
	text-align: center;
}
.showResCheck{
	border: 1px solid #f0f0f0;
}
.showResCheck li,.banner-list li{
	list-style: none;
	line-height: 40px;
	border-bottom: 1px solid #f0f0f0;
	text-align: center;
}
.showResCheck .el-col{
	border-right: 1px solid #f0f0f0;
}

.top-center{
	text-align: center;
}

.add-title{
	display: block;
	padding: 20px 0;
}
.banner-list li{
	height: 100px;
	line-height: 100px;
}
.banner-photo{
	margin: 22px auto;
}

/*banner图片上传*/
.avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.avatar-uploader .el-upload:hover {
    border-color: #20a0ff;
}

.avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    line-height: 178px!important;
    text-align: center;
}

.avatar {
    width: 178px;
    height: 178px;
    display: block;
}


.brand-title{
	padding: 20px 0;
	display: block;
	border-bottom: 1px solid #f0f0f0;
}
.brand-top{
	display: block;
	padding: 10px 0 30px 0;
}
.brand-checked{
	padding-bottom: 30px;
}
.brand-photo{
	width: 150px;
	height: 90px;
}




/*manage*/
.listContent {
    overflow: hidden;
}

.list,
.list-mid {
    width: 400px;
    height: 150px;
    background: #fff;
    border: 1px solid #f0f0f0;
    padding: 20px;
    float: left;
    margin: 0 10px 20px 0;
}

.list ul,
.list-mid ul {
    overflow: hidden;
}

.list a,
.list-mid a {
    float: right;
}

.list li,
.list-mid li {
    width: 24%;
    line-height: 50px;
    text-align: center;
    float: left;
    list-style: none;
    margin-top: 20px;
}

.list li span,
.list-mid li span {
    display: block;
}

.list-border {
    border-right: 1px solid #777;
}

.list-count {
    font-style: 14px;
    font-weight: bold;
}

.list-mid {
    width: 850px;
    float: none;
}
.chart{
	padding:20px;
	border: 1px solid #f0f0f0;
	width: 850px;
}
.echarts {
    width: 850px;
    height: 300px;
  }

/*brand*/
.label_button{
    width: 100px;
    height: 40px;
    background-color: #fff;
    color: #50bfff;
    line-height: 40px;
    border: 1px solid #50bfff;
    border-radius: 5px;
    display: block;
    text-align: center;
}



/*弹框*/
.mesbg{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #000;
    opacity:0.6;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 111;
}
.me-bg{
    position: fixed;
    width: 100%;
    height: 100%;
    background: #000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.3;
    z-index: 1;
}
.mescontent{
    position: fixed;
    width: 300px;
    height: 200px;
    border: 1px solid #f0f0f0;
    border-radius: 5px;
    background-color: #fff;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 112;
    padding: 30px;
    box-shadow: 0px 2px 3px 0px;
}
.mes-top{
    padding-bottom: 10px;
}
.mes-send{
    display: block;
    width: 250px;
    height: 60px;
    padding:10px;
}
.mes-btn{
    padding-top: 20px;
}
.close-icon{
    position: absolute;
    right: 20px;
    color: #333;
    top: 20px;
}
.me-banner-review{
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: 260px;
    margin-top: -160px;
    z-index: 111;
}



.usermes_method{
    padding-top: 10px;
}
.usermes_method span{
    float: left;
}
.user_mes{
    width: 200px;
    height: 50px;
    padding:10px;
    display: block;
    padding-right: 10px;
}


/*banner*/
.forbanner{
	width: 226px;
	height: 116px;
	display: block;
	border: 1px dashed #b8bec1;
    margin-bottom: 20px;
    /*cursor: pointer;*/
    margin-top:6px;
    color: #475055;
    text-align: center;
}
.forbanner:before{
	/*content: '+';*/
	font-size: 40px;
    line-height: 116px;
    padding-left: 100px;
    color: #475055;
    font-weight: 100;
}
.fileOpacity{
	position: absolute;
    clip: rect(0px 0px 0px 0px);
}

/*light*/
.hightLight{
    color:#33e3f7;
}
.lowLight{
    color:#e2e5e8;
}
.showOut{
    height: 90px;
    padding-bottom: 20px;
}
.showOut:hover .ifshow{
    display: block;
}
.ifshow{
    display: none;
    position: relative;
    top: -138px;
    width: 204px;
    height: 118px;
}
.hoverShow{
    width: 228px;
    height: 118px;
    opacity: 0.5;
    background-color: #000;
    display: block;
}
.hoverChange{
    left: 70px;
    top: -55px;
    position: relative;
    color:#fff;
}
.deleteIcon{
    position: relative;
    left: 100px;
    top: -70px;
    color: #fff;
    cursor: pointer;
}
.noexport{
    color: #ccc;
}
.exportTable{
    cursor: pointer;
}
.exportTable:hover{
    color: #50bfff;
    font-size: 18px;
}
.add-tag{
    border: 0;
}
.tag-out{
    width: 66px;
    height: 40px;
}
.tag-change{
    width: 66px;
    text-align: center;
    display: none;
}
.tag-out:hover .tag-change{
    display: block;
}
/*admin*/
.admin-title {
    padding: 20px 0;
    font-style: 24px;
    font-weight: bold;
}

.admin-top {
    padding: 10px 0;
}

.add {
    width: 400px;
    height: 300px;
}

.normal_role {
    padding-left: 50px;
}

.normal_role li {
    list-style: none;
}

.daily-top{
    padding: 20px 0;
}
th,td{
    padding:0!important;
}
.houseOpacity{
    opacity: 0.3;
}
.priceRecord{
    padding-top: 40px;
    display: block;
    height: 30px;
}
.priceRecord:hover + .hoverRecord{
    display: block;
}
.hoverRecord{
    display: none;
    width: 350px;
    background-color: #fff;
    border: 1px solid #000;
    padding: 20px;
    position: absolute;
    z-index: 1;
    left: 200px;
}
.hover-title{
    text-align: center;
}
.hover-list{
    list-style: none;
    overflow: hidden;
    padding:20px 0 0 0;
}
.hover-list span{
    width: 33%;
    display: block;
    float: left;
}
.userRecord{
    padding-top: 0;
}
.hoverlist{
    width: 200px;
    top: 30px;
    left: 20px;
}
.hoverlist span{
    width: 50%;
}
.noRecord{
    text-align: center;
    padding: 20px;
    color: #c5cace;
    display: block;
    margin: 0 auto;
}
.paddingTop{
    padding-top: 20px;
}

.input-select{
    width: 300px;
    line-height: 50px;
    display: block;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #bfcbd9;
}
.input-select option{
    width: 300px;
    height: 40px;
    line-height: 40px;
    display: block;
}
.el-table .cell{
   max-height: 90px; 
   overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
}
.me-line-height{
    line-height: 35px;
}
.me-btn-center{
    text-align: center;
}
.me-show-banner{
    width: 500px;
    height: 300px;
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 111;
}
.me-banner-img{
    width:100%;
}
.me-border{
    width: 100px;
    line-height: 60px;
    border: 1px solid #333;
    text-align: center;
    color: #333;
}
.me-two-border{
    width: 100px;
    height: 62px;
    border: 1px solid #333;
    text-align: center;
    color: #333;
    padding: 10px 0;
    box-sizing: border-box;
}
.me-describe{
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #333;
    min-height: 200px;
}
.me-padding-left{
    padding-left: 40px;
}
.me-omitted{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.banner-des{
    color: darkorange;
    display: block;
    padding-bottom: 20px;
}
.house-pic{
    position: relative;
}
.house-pic-icon{
    display: block;
    position: absolute;
    top: 1;
    left: 1;
    width: 100px;
    height: 30px;
    font-style: normal;
    line-height: 30px;
    text-align: center;
    color: #fff;
    background-color: #ff4949;
}
.me-blue-color{
    color: blue;
    cursor: pointer;
}
.me-gray-color{
    color: gray;
}
.me-show-pic{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    max-width: 500px;
    max-height: 300px;
    z-index: 11;
}
.me-show-pic img{
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}








.font-center {
    text-align: center;
}

.reocrd {
    list-style: none;
}

.reocrd span {
    width: 50%;
    display: block;
    float: left;
}
.setprice{
    color: #50bfff;
    text-decoration: underline;
    cursor: pointer;
}
.nopower{
    color:#ccc;
    text-decoration: underline;
}
.justnum{
    color:#333;
}
/*element*/
.el-carousel__item h3 {
    color: #475669;
    font-size: 14px;
    opacity: 0.75;
    line-height: 150px;
    margin: 0;
  }

  .el-carousel__item:nth-child(2n) {
     background-color: #99a9bf;
  }
  
  .el-carousel__item:nth-child(2n+1) {
     background-color: #d3dce6;
  }
  .ql-snow img {
    width: 570px;
    height: 375px;
}
/*pagination*/
.el-pagination {
    color: #535f80 !important;
    font-size: 14px !important;
}
.el-icon-arrow-left:before {
    content:'上一页' !important;
}
.el-icon-arrow-right:before {
    content: "下一页" !important;
}
.el-pager li {
    display:none !important;
}
.el-pager li.active {
    display:inline-block !important;
}
.el-pagination button {
    height: 32px !important;
    width: 72px !important;
    border: 1px solid #ecedf2 !important;
    border-radius: 4px !important;
}
.el-pagination .btn-prev {
    margin-right: 8px !important;
    color: #535f80 !important;
}
.el-pagination .btn-next {
    margin-left: 8px !important;
    color: #535f80 !important;
}
.el-pager li{
    height: 32px !important;
    line-height: 32px !important;
    width: 32px !important;
    border-radius: 4px !important;
}
.el-pager li.active {
    border-color: #5e85e0 !important;
    background-color: #5e85e0 !important;
}
.el-pagination button:hover {
    color: #5e85e0 !important;
    border-color: #5e85e0 !important;
}
.el-pagination__jump{
    margin-left:0 !important;
    margin-right: 10px;
}
.el-pagination__total {
    margin:0 0 0 10px !important;
}
.pagination {
    padding: 32px 0 20px 0;
    text-align: right;
    border: 1px solid #dde2ef;
    border-top: 0;
    margin:0 !important;
}
.el-table::before {
    height: 0 !important;
}
.el-pagination__editor {
    width: 33px !important;
    border-radius: 4px !important;
}
/*pagination*/
.el-button--default:focus, .el-button--default:hover {
    color: #5e85e0 !important;
    border-color: #5e85e0 !important;
}
.el-button--primary {
    background-color: #5e85e0 !important;
    border-color: #5e85e0 !important;
    color: #fff !important;
}
.el-button--primary:focus, .el-button--primary:hover {
     background-color: #5e85e0 !important;
    border-color: #5e85e0 !important;
    color: #fff !important;
}
