.header{
    background-color: #61cdb5;
}
.login-wrap{
    background: #61cdb5;
}
.plugins-tips{
    background: #61cdb5;
}
.plugins-tips a{
    color: #61cdb5;
}
.el-upload--text em {
    color: #61cdb5;
}
.pure-button{
    background: #61cdb5;
}